<script type="text/javascript">


    function requestData() {
        $.ajax({
            url: '{% url highcharts_data hash %}',
            success: function(point) {
            $.each(point, function(index) {
                var series = chart.series[index],
                    shift = series.data.length > {{ object.samples }}; // shift if the series is longer required samples
                
                    // add the point
                    chart.series[index].addPoint(point[index], false, shift);
            });
                
                // call it again after one second
            setTimeout(requestData, 1000);    
            chart.redraw()
            
            },
            cache: false
            });
    }

    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'gadget{{ hash }}',
                defaultSeriesType: 'spline',
                events: {
                    load: requestData
                }
            },
            title: {
                text: '{{ object }}'
            },
            xAxis: {
					type: 'datetime',
					tickPixelInterval: 150,
					maxZoom: 20 * 1000
				},
			yAxis: {
					minPadding: 0.2,
					maxPadding: 0.2,
					title: {
						text: 'Value',
						margin: 80
					}
            },
            series: [
                    {% for stat in object.stats %} 
                   {
                    name: '{{ stat }}',
					data: []
                   },
                   {% endfor %}
            ]
        });

    });
</script>

<div id="gadget{{ hash }}" style="width: 100%; height: 400px"></div>


